.power { background-color: #FE0000; color: #DCEDFD; }
.positivity { background-color: #F36523; color: #DCEDFD; }
.playfulness { background-color: #FFFF00; color: #0054A5; }
.health { background-color: #00A650; color: #DCEDFD; }
.reliable { background-color: #0054A5; color: #DCEDFD; }
.royalty { background-color: #652D90; color: #DCEDFD; }
.stimupurehue { background-color: #0054A5; color: #DCEDFD; }
.relaxshade { background-color: #00407E; color: #DCEDFD; }
.relaxtone { background-color: #285481; color: #DCEDFD; }
.relaxtint { background-color: #DCEDFD; color: #0054A5; }