.bg-power { background-color: #FE0000; }
.bg-positivity { background-color: #F36523; }
.bg-playfulness { background-color: #FFFF00; }
.bg-health { background-color: #00A650; }
.bg-reliable { background-color: #0054A5; }
.bg-royalty { background-color: #652D90; }
.bg-stimupurehue { background-color: #0054A5; }
.bg-relaxshade { background-color: #00407E; }
.bg-relaxtone { background-color: #285481; }
.bg-relaxtint { background-color: #DCEDFD; }

.text-power { color: #FE0000; }
.text-positivity { color: #F36523; }
.text-playfulness { color: #FFFF00; }
.text-health { color: #00A650; }
.text-reliable { color: #0054A5; }
.text-royalty { color: #652D90; }
.text-stimupurehue { color: #0054A5; }
.text-relaxshade { color: #00407E; }
.text-relaxtone { color: #285481; }
.text-relaxtint { color: #DCEDFD; }